.app-header{
  background-color: rgb(58, 66, 68);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

}
select,button{
  padding: 5px;
  margin: 15px;
  background-color: rgb(31, 70, 104);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: cornsilk;
  border: none;
  font-size: 20px;

}
h3{
  color:rgb(94, 186, 207);
}
